:root {
    --activity-color: #461e11;
    --bg-cs-primary: #fdf6ea;
    --bg-cs-secondary: #f5e9d4;
    --bg-cs-tertory: #e8d9c5;
    --bg-cs-footer: #f8e7d1;
    --hover-active-color: #3F7F7A;
    --bg-profile: #e8d9c5;
}

.text-cs-primary {
    color: var(--bg-cs-primary);
}

.bg-cs-primary1 {
    background-color: var(--bg-cs-primary);
}

.bg-cs-footer01 {
    background-color: #0b473b;
}

.bg-cs-secondary1 {
    background-color: var(--bg-cs-secondary);
}

.bg-cs-tertory1 {
    background-color: var(--bg-cs-tertory);
}

.bg-cs-profile {
    background-color: var(--bg-profile);
}

.text-brown {
    color: var(--activity-color);
}

.pointer {
    cursor: pointer;
}

.transition-2 {
    transition: all 0.2s linear;
}

.transition-02 {
    transition: all 0.2s linear;
}

.transition-02:hover {
    transform: scale(1.015);
}

.bx-shadow:hover {
    box-shadow: 0px 0px 5px #8d8d8d;
}

.border-brown {
    border: 3px solid var(--activity-color);
}

.hight-275px {
    height: 275px;
}


/* ######################### 
            header
############################*/

.header-dash {
    background-color: var(--bg-cs-footer);
}

/* #### sidebar ####*/

.hover-effect {
  position: relative;
  padding-bottom: 6px;
}

.hover-effect:hover {
    color: var(--hover-active-color) !important;
}

.hover-effect::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2.5px;
  background-color: var(--hover-active-color);
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.hover-effect:hover::after {
  width: 60%;
}

.hover-effect.active {
  color: var(--hover-active-color) !important;
}

.hover-effect.active::after {
  width: 60%;
}

/* #### profile #### */
.profile-ul {
    width: 300px;
}

.update:hover {
    color: #198754;
    background-color: #19875420;
}

.white:focus{
    background-color: #fff;
}

.log-del:hover {
    color: #dc3545;
    background-color: #fef2f2;
}