.collabrate-banner{
    height: 275px;
    background: #E3AC75;
    background: linear-gradient(45deg, #e3ac75 25%, #ffdfbf 91%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position:right;
}